:root {
    --main-bg-color: #090909;
    --dark: #090909;
    --gray1: #3F3F3F;
    --gray2: #808080;
    --gray3: #A0A0A0;
    --white: #FFFFFF;
    --pink: #FF066F;
    --pinkDark: #a50344;
    --black-opacity: #0000005c;
    --black-opacity-80: #000000dd;
    --scrollbar-bg: #000000dd;
    --scrollbar-thin: #3F3F3F;


    --primary-color: var(--pink);
}