/* Убираем все отступы и задаем box-sizing для всех элементов */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-bg) transparent;
    user-select: none;
    -webkit-user-select: none; /* Для поддержки Safari */
    -ms-user-select: none; /* Для поддержки старых версий IE */
}

/*@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('@/assets/fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('@/assets/fonts/Roboto-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    src: url('@/assets/fonts/Roboto-Bold.ttf') format('truetype');
}*/

/* Задаем шрифт Roboto и его вес для body */
body {
    font-family: 'Arial', sans-serif;
    font-weight: 400;
    background-color: #101010;
}

/* Стили для Webkit-браузеров (Chrome, Safari) */
::-webkit-scrollbar {
    width: 2px !important;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 2px;
    border: 1px solid var(--scrollbar-thin);
}


.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-size: cover !important;
    overflow: hidden;
}

@font-face {
    font-family: 'Anonymous';
    src: url('@/assets/fonts/Anonymous.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Настройка фона и рамки для тултипа */
.v-tooltip__content {
    background-color: var(--black-opacity-80) !important; /* Цвет фона тултипа */
    border: 2px solid var(--pink); /* Цвет рамки тултипа */
    border-radius: 5px; /* Радиус углов рамки */
    color: #fff; /* Цвет текста тултипа */
    padding: 10px; /* Отступы внутри тултипа */
    text-align: center;
}

/* Стиль модальных окон */

.v-modal {
    background-color: var(--black-opacity-80) !important;
    border-radius: 8px;
    padding: 20px;
    border: 2px solid var(--primary-color) !important; /* Цвет рамки тултипа */
    color: white !important;
}

:root .v-card-title{
    font-size: 1.1rem;
}

.v-modal .cancel-btn {
    text-align: center;
    color: var(--gray2) !important;
    cursor: pointer;
    font-size: 0.7rem !important;
}

.v-modal .confirm-btn {
    cursor: pointer;
    /* text-transform: none;*/
    background-color: var(--primary-color);
    color: white !important;
    margin: 10px;
    font-size: 0.7rem !important;
}

.loader {
    display: flex;
    color: var(--primary-color);
    justify-content: center;
}


:root {
    --v-theme-overlay-multiplier: 0.9;
    --v-hover-opacity: 0.08;
    --v-border-color: 2px solid var(--primary-color);
}

:root .v-list {
    background: var(--black-opacity) !important;
    /*overflow: hidden !important;*/
    color: white;
    border: 2px solid var(--gray1);
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    padding: 0;
}

:root .v-text-field .v-field--active input {
    background-color: transparent;
    border: none;
}

/* Слайдер */
:root .v-slider-track__tick {
    border-radius: 50%;
}
:root .v-slider-track__tick--first {
    bottom: calc(0% + 15px + -10px) !important;
}
:root .v-slider-track__tick--last {
    bottom: calc(100% - 15px - -10px) !important;
}
:root .v-slider-track__tick--filled{
    background-color: var(--primary-color) !important;
    width: 0;
}
:root .v-slider-thumb {
    box-shadow: 0 3px 1px -2px var(--v-shadow-key-umbra-opacity, rgba(0, 0, 0, 0.2)),
    0 2px 2px 0 var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.14)),
    0 1px 5px 0 var(--v-shadow-key-ambient-opacity, rgba(0, 0, 0, 0.12)) !important;
    border-radius: 50%; /* Сделать тень круглой */
}
:root .v-slider-track__tick-label{
    font-size: 0.5em;
    margin-top: 8px;
    margin-left: 28px !important;
    color: var(--gray2);
}
:root .v-slider-track__fill{
    width: 5px !important;
}

/* Селектор */
:root .v-input__details {
    display: none;
}

:root .v-input--density-compact{
    --v-input-control-height:40px !important;
}

.v-list-item{
    background-color: var(--black-opacity-80) !important;
}

.v-list-item--active{
    background-color: var(--pink) !important;
    --v-theme-overlay-multiplier:0 !important;
}

/* Textarea */
:root .v-textarea textarea{
    background-color: transparent !important;
    border: none !important;
}

:root .v-snackbar{
    margin: 0 10px !important;
}

:root .v-btn--disabled{
    background-color: var(--gray1) !important;
}
