/* Убираем все отступы и задаем box-sizing для всех элементов */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-bg) var(--scrollbar-thin);
}

/* Задаем шрифт Roboto и его вес для body */
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-color: #101010;
}

/* Стили для Webkit-браузеров (Chrome, Safari) */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: var(--scrollbar-thin);
}

::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 2px;
    border: 1px solid var(--scrollbar-thin);
}


.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-size: cover !important;
    overflow: hidden;
}

@font-face {
    font-family: 'Anonymous';
    src: url('@/assets/fonts/Anonymous.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Настройка фона и рамки для тултипа */
.v-tooltip__content {
    background-color: var(--blackOpacity80) !important;  /* Цвет фона тултипа */
    border: 2px solid var(--pink); /* Цвет рамки тултипа */
    border-radius: 5px; /* Радиус углов рамки */
    color: #fff; /* Цвет текста тултипа */
    padding: 10px; /* Отступы внутри тултипа */
    text-align: center;
}